## Homework ##

In [15]:
import pandas as pd

In [16]:
pd.__version__

'2.2.2'

In [17]:
df = pd.read_csv("C:/Users/Edan/Downloads/laptops.csv")
print(df)

                                                 Laptop       Status   Brand  \
0     ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...          New    Asus
1     Alurin Go Start Intel Celeron N4020/8GB/256GB ...          New  Alurin
2     ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...          New    Asus
3     MSI Katana GF66 12UC-082XES Intel Core i7-1270...          New     MSI
4     HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...          New      HP
...                                                 ...          ...     ...
2155  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2156  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2157  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2158  Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...  Refurbished   Razer
2159  Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...  Refurbished   Razer

           Model                CPU  RAM  Storage Storage type       GPU  \
0     ExpertBook      Intel Core i5    8      512          SSD       NaN
1             Go      Intel Celeron    8      256          SSD       NaN
2     ExpertBook      Intel Core i3    8      256          SSD       NaN
3         Katana      Intel Core i7   16     1000          SSD  RTX 3050
4            15S      Intel Core i5   16      512          SSD       NaN
...          ...                ...  ...      ...          ...       ...
2155       Blade      Intel Core i7   16     1000          SSD  RTX 3060
2156       Blade      Intel Core i7   16     1000          SSD  RTX 3070
2157       Blade      Intel Core i7   32     1000          SSD  RTX 3080
2158        Book  Intel Evo Core i7   16     1000          SSD       NaN
2159        Book  Intel Evo Core i7   16      256          SSD       NaN

      Screen Touch  Final Price
0       15.6    No      1009.00
1       15.6    No       299.00
2       15.6    No       789.00
3       15.6    No      1199.00
4       15.6    No       669.01
...      ...   ...          ...
2155    17.3    No      2699.99
2156    17.3    No      2899.99
2157    17.3    No      3399.99
2158    13.4   Yes      1899.99
2159    13.4   Yes      1699.99

[2160 rows x 12 columns]

In [18]:
df.count(axis=0)

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

There are 12 records in the dataset

In [19]:
df.nunique()

Laptop          2160
Status             2
Brand             27
Model            121
CPU               28
RAM                9
Storage           12
Storage type       2
GPU               44
Screen            29
Touch              2
Final Price     1440
dtype: int64

There are 2160 laptop brands

In [20]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

2 columns have missing values
Storage type and GPU

In [21]:
df.loc[df['Final Price'].idxmax()]

Laptop          MSI Raider GE78HX 13VH-065ES Intel Core i9-139...
Status                                                        New
Brand                                                         MSI
Model                                                      Raider
CPU                                                 Intel Core i9
RAM                                                            32
Storage                                                      2000
Storage type                                                  SSD
GPU                                                      RTX 4080
Screen                                                       17.0
Touch                                                          No
Final Price                                               7150.47
Name: 1099, dtype: object

In [25]:
df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [23]:
df['Screen'].median()

15.6

In [24]:
df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [26]:
df['Screen']

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [32]:
values = {"Screen": 15.6}
df.fillna(value=values)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [33]:
df['Screen']

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [34]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64